/* general */

body {
	background-color: #e3e3e3;
	color: white;
}

footer {
	background-color: #434A54;
	padding: 1em;
	margin-top: 2em;
}

.hero {
    background-image: url("hero2.png");
    background-color: #cccccc;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px -200px;
	text-shadow: 0 2px 2px #333f48;
	border-bottom: 1px solid #e3e3e3;
	height: 450px;
	margin-bottom: 1em;
}

.hidden {
	display: none;
}

/* car details */

.car-preview {
	text-align: center;
	margin: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #e3e3e3;
}

.car-preview img {
	height: 120px;
}

.car-details {
	border: 1px solid #e3e3e3;
	margin: 1em;
	padding: 2em;
	line-height: 2em;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	background-color: #ffffff;
	color: #697684;

	-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.5);
}

.car-stat {
	padding: 0.1em;
}

.stat-type {
	font-weight: 400;
}

.info-toggle:hover {
	cursor: pointer;
}

.pricing-details .car-stat {
	font-weight: 400;
	text-align: center;
}

.pricing-details {
	margin-top: 1em;
	border-top: 1px solid #e3e3e3;
}

.search-options {
	margin-top: 2em;
	background-color: #464646;
	background: rgba(70,70,70,0.3);
	border: 1px solid rgba(255,255,255,0.3);
	border-radius: 4px / 4px;
	padding: 3em;
}

/* spinner */
.spinner {
	margin-top: 3em;
	color: #333f48;
}

/* Error page */
.error-icon {
	background-image: url("error-icon.png");
	background-repeat: no-repeat;
	background-position:center;
	background-size: contain;
	text-shadow: 0 1px 1px #333f48;
	border-bottom: 1px solid #e3e3e3;
	height: 200px;
	text-align: center;
}



.toggle-box {
  display: none;
}

.toggle-box + label {
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 5px;
}

.toggle-box + label + div {
  display: none;
  margin-bottom: 10px;
}

.toggle-box:checked + label + div {
  display: block;
}

.toggle-box + label:before {
  background-color: #4F5150;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  content: "+";
  display: block;
  float: left;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  width: 20px;
}

.toggle-box:checked + label:before {
  content: "\2212";
}
